CarsADF/CarsUseCaseImplemations/CarsServices/CarsBCServices/src/gov/ca/dir/acct/cars/adf/service/view/common/AccountingTransactionViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/gov/ca/dir/acct/cars/adf/service/view/common/" xmlns="/gov/ca/dir/acct/cars/adf/service/view/common/"
     elementFormDefault="qualified" sdoJava:package="gov.ca.dir.acct.cars.adf.service.view.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:include schemaLocation="ReceivableViewSDO.xsd"/>
    <xsd:include schemaLocation="ReceiptViewSDO.xsd"/>
    <xsd:include schemaLocation="AdjustmentViewSDO.xsd"/>
    <xsd:include schemaLocation="OtherAccountTransViewSDO.xsd"/>
    <xsd:complexType name="AccountingTransactionViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>AcctgTransactionId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AcctgTransactionId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Amount" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreatedDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="DailyPostingDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="DataSourceCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FiscalPeriodId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="ModifiedBy" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ModifiedDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="TransactionDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="ReceivableView" type="ReceivableViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ReceiptView" type="ReceiptViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdjustmentView" type="AdjustmentViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OtherAccountTransView" type="OtherAccountTransViewSDO" minOccurs="0"
                 maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="accountingTransactionViewSDO" type="AccountingTransactionViewSDO"/>
</xsd:schema>
