CarsADF/CarsUseCaseImplemations/CarsServices/CarsBCServices/src/gov/ca/dir/acct/cars/adf/service/view/common/CarsRequestViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/gov/ca/dir/acct/cars/adf/service/view/common/" xmlns="/gov/ca/dir/acct/cars/adf/service/view/common/"
     elementFormDefault="qualified" sdoJava:package="gov.ca.dir.acct.cars.adf.service.view.common">
    <xsd:annotation>
        <xsd:documentation>
            <name>Cars Request View</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="CarsRequestViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>RequestId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ComponentInstanceId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="CompositeInstanceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ConversationId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreatedDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="DataSourceCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Ecid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="EnvironmentName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ModifiedBy" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ModifiedDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="PacketId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PacketTransport" type="xsd:string" minOccurs="0"/>
            <xsd:element name="PayloadName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ProgramUnitCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="RequestId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="SchemaName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SchemaVersionNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SubmitDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="SubmittedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Currentdocument" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Rootdocument" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="carsRequestViewSDO" type="CarsRequestViewSDO"/>
</xsd:schema>
