CarsADF/CarsUseCaseImplemations/CarsServices/CarsBCServices/src/gov/ca/dir/acct/cars/adf/service/view/common/Infar001OutboundViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/gov/ca/dir/acct/cars/adf/service/view/common/" xmlns="/gov/ca/dir/acct/cars/adf/service/view/common/"
     elementFormDefault="qualified" sdoJava:package="gov.ca.dir.acct.cars.adf.service.view.common">
    <xsd:annotation>
        <xsd:documentation>
            <name>Infar 001 Outbound View</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="Infar001OutboundViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Infar001OutboundId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BatchId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Infar001OutboundId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Account" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AccountingDt" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="AcctgEntryId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="ActivityId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Affiliate" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AffiliateIntra1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AffiliateIntra2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AgencyObject" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AgencySource" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Altacct" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AnalysisType" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="AppropriationSymbol" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="BankAcctKey" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="BankCd" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="BudgetDt" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="BudgetRef" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="BusinessUnitGl" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="BusinessUnitPc" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Character" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Chartfield1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Chartfield2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Chartfield3" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CheckDt" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="City" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ClassFld" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Component1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ControlAmt" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="ControlCnt" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="ControlCurrency" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="County" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="CreatedDate" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="CreatedDttm" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="CustId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DataSourceCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DepositBu" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DepositCnt" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="DepositId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DepositType" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DeptUse1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DeptUse2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Deptid" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Descr50Mixed" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Document" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DstSeqNum" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="Element" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Ffy" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Fund" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FundCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FundSource" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="GlAccount" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="IdSeqNum" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="IndexCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InternalOrgStructure1" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InternalOrgStructure2" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InternalOrgStructure3" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InternalOrgStructure4" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="InternalOrgStructure5" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="LineDescr" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="LineNoteText" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Location" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Method" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="MiscPayment" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ModifiedBy" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ModifiedDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="MonetaryAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Multipurpose" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="NoteText" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ObjectDetail" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OpenItemKey" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OperatingUnit" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OrgCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PaymentAmt" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="PaymentCurrency" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PaymentId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PaymentSeqNum" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="Pca" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PpSw" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Product" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Program" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ProgramCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Project" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ProjectId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ReceivedDt" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="RefQualifierCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="RefValue" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Reference" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ResourceCategory" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ResourceSubCat" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ResourceType" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Source" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="SpeedchartKey" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Subfund" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Subsidiary" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Task" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="TaxAmt" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="TotalAmt" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="WorkPhase" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Year" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZzBnkDepositNum" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZzCashType" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZzIdentifier" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZzPaymentMethod" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZzReceivedBySco" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ProgramUnitCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FsRowId" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="infar001OutboundViewSDO" type="Infar001OutboundViewSDO"/>
</xsd:schema>
